@model IEnumerable<Activity>
    
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">
            Recent Activities
        </h5>
    </div>
    <div class="panel-body p-l-20 p-b-20">
        <br />
        <div class="streamline">
            <div class="sl-item sl-primary">
                <div class="sl-content">
                    <small class="text-muted">
                        <i class="icon-user-plus position-left"></i>2 mins ago
                    </small>
                    <p>Lorem Ipsum is simply dummy text.</p>
                </div>
            </div>

            <div class="sl-item sl-danger">
                <div class="sl-content">
                    <small class="text-muted"><i class="icon-pencil5 position-left"></i>10 mins ago</small>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                </div>
            </div>

            <div class="sl-item sl-success">
                <div class="sl-content">
                    <small class="text-muted"><i class="icon-user position-left"></i>14 mins ago</small>
                    <p>Lorem Ipsum is simply dummy text.</p>
                </div>
            </div>

            <div class="sl-item sl-warning">
                <div class="sl-content">
                    <small class="text-muted"><i class="icon-calendar position-left"></i>20 mins ago</small>
                    <p>Lorem Ipsum is simply dummy text.</p>
                </div>
            </div>

            <div class="sl-item sl-primary">
                <div class="sl-content">
                    <small class="text-muted"><i class="icon-user-plus position-left"></i>1 day ago</small>
                    <p>Lorem Ipsum is simply dummy text.</p>
                </div>
            </div>

            <div class="sl-item sl-success">
                <div class="sl-content">
                    <small class="text-muted"><i class="icon-comments position-left"></i>1 day ago</small>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry..</p>
                </div>
            </div>
        </div>
    </div>
</div>
