<!-- Footer -->
<footer class="footer-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="float-left">
                    © @DateTime.Now.Year DevTracker&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Developed by <a href="http://riowebs.com" target="_blank">Riowebs</a>.
                </div>
                <div class="float-right">
                    <div class="badge badge-danger">Version: 1.2.0</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->