    <!-- Rightbar -->
<div id="right_sidebar" class="right_bar">

    <div class="rightbar-wrapper">

        <div class="rightbar-header">
            <img src="http://via.placeholder.com/80x80" class="rounded-circle user" alt="" />
            <div class="username">Jane Elliott</div>
            <div class="close-rightbar"><a onclick="close_rightbar()"><i class="icon-cross2"></i></a></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="searchbar">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." autocomplete="off">
                    <span class="input-group-addon"><i class="icon-search4"></i></span>
                </div>
            </div>
        </div>

        <div class="card friend-list">
            <div class="card-header">
                <div class="card-title">Friends</div>
                <ul class="icons-list">
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="collapse" data-toggle="collapse" href="#friends"></a></li>
                </ul>
            </div>
            <div class="card-block collapse show" id="friends">

                <div id="friends">
                    <div class="friend">
                        <img src="http://via.placeholder.com/80x80" />
                        <div class="detail">
                            <span>Jane Elliott</span>
                            <cite>You just got LITT...</cite>
                        </div>
                        <div class="status available"></div>
                        <div class="time">1:10 AM</div>
                        <div class="badge badge-pill badge-danger">4</div>
                    </div>
                    <div class="friend">
                        <img src="http://via.placeholder.com/80x80" />
                        <div class="detail">
                            <span>Florence Douglas</span>
                            <cite>Wrong. You take the gun...</cite>
                        </div>
                        <div class="status available"></div>
                        <div class="time">9:14 PM</div>
                        <div class="badge badge-pill badge-danger">23</div>
                    </div>
                    <div class="friend">
                        <img src="http://via.placeholder.com/80x80" />
                        <div class="detail">
                            <span>Jacqueline Howell</span>
                            <cite>I was thinking that we...</cite>
                        </div>
                        <div class="status busy"></div>
                        <div class="time">Yesterday</div>
                    </div>
                    <div class="friend">
                        <img src="http://via.placeholder.com/80x80" />
                        <div class="detail">
                            <span>Eugine Turner</span>
                            <cite>Mike, I know everything</cite>
                        </div>
                        <div class="status away"></div>
                        <div class="time">Yesterday</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card notifications">
            <div class="card-header">
                <div class="card-title">Notifications</div>
                <ul class="icons-list">
                    <li><a data-action="collapse" data-toggle="collapse" href="#notifications"></a></li>
                </ul>
            </div>
            <div class="card-block collapse show" id="notifications">
                <div class="media-container">
                    <ul class="clearfix">
                        <li class="clearfix">
                            <a href="#" class="media-thumb bg-info">
                                <i class="icon-cart2"></i>
                            </a><a href="#" class="media-title"><div>You have new order</div><span class="media-time">Just now</span></a>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="media-thumb bg-indigo">
                                <i class="icon-stats-growth"></i>
                            </a><a href="#" class="media-title"><div>Sales report generated</div><span class="media-time">20 minutes ago</span></a>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="media-thumb bg-success">
                                <i class="icon-checkmark"></i>
                            </a><a href="#" class="media-title"><div>Task completed</div><span class="media-time">yesterday at 2:23 pm</span></a>
                        </li>
                        <li class="clearfix">
                            <a href="#" class="media-thumb bg-danger">
                                <i class="icon-server"></i>
                            </a><a href="#" class="media-title"><div>Server load (80%)</div><span class="media-time">Currently</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card activities">
            <div class="card-header">
                <div class="card-title">Activities</div>
                <ul class="icons-list">
                    <li><a data-action="collapse" data-toggle="collapse" href="#activities"></a></li>
                </ul>
            </div>
            <div class="card-block collapse show" id="activities">

                <ol class="activity-feed">
                    <li class="feed-item" data-content="&#xeb35">
                        <section>
                            <input type="checkbox" id="expand_1" name="expand_1" />
                            <label for="expand_1">
                                <cite>2 minutes ago</cite>
                                <span><b>Jane Elliott</b> added 2 new friends</span>
                            </label>
                            <main class="content">
                                <b>Jane Elliott</b> added:<br />
                                <img src="http://via.placeholder.com/80x80" alt="image" class="rounded-circle img-20 m-t-10 m-r-10" />
                                <img src="http://via.placeholder.com/80x80" alt="image" class="rounded-circle img-20 m-t-10" />
                            </main>
                        </section>
                    </li>
                    <li class="feed-item" data-content="&#xe914">
                        <section>
                            <input type="checkbox" id="expand_2" name="expand_2" />
                            <label for="expand_2">
                                <cite>Yesterday at 12:15 pm</cite>
                                <span><b>Florence Douglas</b> posted on your timeline.</span>
                            </label>
                            <main class="content">
                                Duis iaculis commodo condimentum. Donec quis felis libero. Nunc feugiat nisi ut ullamcorper congue.
                            </main>
                        </section>
                    </li>
                    <li class="feed-item" data-content="&#xeb35">
                        <section>
                            <input type="checkbox" id="expand_3" name="expand_3" />
                            <label for="expand_3">
                                <cite>2 Days ago</cite>
                                <span>You have a new friend request</span>
                            </label>
                            <main class="content">
                                <b>Jane Elliott</b> wants to be your friend<br />
                                <img src="http://via.placeholder.com/80x80" alt="image" class="rounded-circle img-20 m-t-10 m-r-10" />
                            </main>
                        </section>
                    </li>
                    <li class="feed-item" data-content="&#xeab6">
                        <section>
                            <label for="expand_4">
                                <cite>2 days ago</cite>
                                <span><b>Florence Douglas</b> invited you for <a href="#">New event</a>.</span>
                            </label>
                        </section>
                    </li>
                    <li class="feed-item" data-content="&#xea49">
                        <section>
                            <input type="checkbox" id="expand_5" name="expand_5" />
                            <label for="expand_5">
                                <cite>3 days ago</cite>
                                <span>You have 4 documents pending</span>
                            </label>
                            <main class="content">
                                <i class="icon-file-presentation x4 position-left m-b-10"></i>
                                <i class="icon-file-picture x4 position-left m-b-10"></i>
                                <i class="icon-file-locked x4 position-left m-b-10"></i>
                                <i class="icon-file-xml x4 position-left m-b-10"></i>
                            </main>
                        </section>
                    </li>
                </ol>

            </div>
        </div>

        <div class="card settings">
            <div class="card-header">
                <div class="card-title">Settings</div>
                <ul class="icons-list">
                    <li><a data-action="collapse" data-toggle="collapse" href="#settings"></a></li>
                </ul>
            </div>
            <div class="card-block collapse show" id="settings">
                <section>
                    <div class="checkbox checkbox-right checkbox-switchery switchery-xs">
                        <label class="display-block">
                            <input type="checkbox" class="switchery">
                            Notifications
                        </label>
                    </div>
                </section>

                <section>
                    <div class="checkbox checkbox-right checkbox-switchery switchery-xs">
                        <label class="display-block">
                            <input type="checkbox" class="switchery">
                            Notification Sounds
                        </label>
                    </div>
                </section>

                <section>
                    <div class="checkbox checkbox-right checkbox-switchery switchery-xs">
                        <label class="display-block">
                            <input type="checkbox" class="switchery" checked="checked">
                            Show Online
                        </label>
                    </div>
                </section>

                <section>
                    <div class="checkbox checkbox-right">
                        <label>
                            <input type="checkbox" class="styled" checked="checked">
                            Activities
                        </label>
                    </div>
                </section>
            </div>
        </div>

    </div>

    <div id="conversation">

        <div class="conversation-header">
            <i class="icon-arrow-left32" id="back"></i>
            <img src="http://via.placeholder.com/80x80" />
            <div class="friend-details">
                <span>Jane Elliott</span>
                <cite>Online</cite>
            </div>
            <div class="actions">
                <div class="dropdown">
                    <i class="icon-attachment dropdown-toggle" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <a href="#" class="dropdown-item"><i class="icon-file-pdf position-left"></i>Document</a>
                        <a href="#" class="dropdown-item"><i class="icon-camera position-left"></i>Camera</a>
                        <a href="#" class="dropdown-item"><i class="icon-images2 position-left"></i>Gallery</a>
                        <a href="#" class="dropdown-item"><i class="icon-music position-left"></i>Audio</a>
                        <a href="#" class="dropdown-item"><i class="icon-location3 position-left"></i>Location</a>
                        <a href="#" class="dropdown-item"><i class="icon-user position-left"></i>Contact</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class='chat-wrapper'>
            <div class='chat-message chat-message-recipient'>
                <img class='chat-image' src='http://via.placeholder.com/80x80' />
                <div class='chat-message-wrapper'>
                    <div class='chat-message-content'>
                        <p>Sushi tonight?</p>
                    </div>
                    <div class='chat-details'>
                        <span>10:14 am</span>
                    </div>
                </div>
            </div>

            <div class='chat-message chat-message-sender'>
                <img class='chat-image' src='http://via.placeholder.com/80x80' />
                <div class='chat-message-wrapper'>
                    <div class='chat-message-content'>
                        <p>Pizza?</p>
                        <p>We had sushi last time!</p>
                        <p>For me one Vegetariana! Plus some chili oil on it!</p>
                    </div>
                    <div class='chat-details'>
                        <i class="icon-check2 text-info"></i>
                        <span>10:15 am</span>
                    </div>
                </div>
            </div>

            <div class='chat-message chat-message-recipient'>
                <img class='chat-image' src='http://via.placeholder.com/80x80' />
                <div class='chat-message-wrapper'>
                    <div class='chat-message-content'>
                        <p>Done. Delivery takes 5 minutes!</p>
                    </div>
                    <div class='chat-details'>
                        <span>10:16 am</span>
                    </div>
                </div>
            </div>

            <div class='chat-message chat-message-sender'>
                <img class='chat-image' src='http://via.placeholder.com/80x80' />
                <div class='chat-message-wrapper'>
                    <div class='chat-message-content'>
                        <p>Awesome! See you later! : )</p>
                    </div>
                    <div class='chat-details'>
                        <i class="icon-check2 text-slate"></i>
                        <span>Just now</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="conversation-compose">
            <input class="input-msg" name="input" placeholder="Type a message..." autocomplete="off">
            <div class="photo">
                <i class="icon-camera"></i>
            </div>
            <button class="send">
                <div class="circle">
                    <i class="icon-paperplane"></i>
                </div>
            </button>
        </div>

    </div>

</div>

<!-- /Rightbar -->
<!-- Layout settings -->
<div class="layout"></div>
<span class="is_hidden" id="jquery_vars">
    <span class="is_hidden switch-active"></span>
    <span class="is_hidden switch-inactive"></span>
    <span class="is_hidden chart-bg"></span>
    <span class="is_hidden chart-gridlines-color"></span>
    <span class="is_hidden chart-legends-text-color"></span>
    <span class="is_hidden chart-grid-text-color"></span>
    <span class="is_hidden chart-data-color-option1"></span>
    <span class="is_hidden chart-data-color-option2"></span>
    <span class="is_hidden chart-data-color-option3"></span>
    <span class="is_hidden chart-data-color-option4"></span>
    <span class="is_hidden chart-data-color-option5"></span>
    <span class="is_hidden chart-data-color-option6"></span>
    <span class="is_hidden chart-data-color-option7"></span>
    <span class="is_hidden chart-data-color-option8"></span>
</span>
