
<footer class="footer-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="pull-left">
                    © @DateTime.Now.Year DevTracker&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;  Developed By <a href="http://riowebs.com" target="_blank">Riowebs PVT LTD</a>.
                </div>
                <div class="pull-right">
                    <div class="label label-info">DEVELOPER MODE</div>
                </div>
            </div>
        </div>
    </div>
</footer>