
@{
    ViewBag.Title = "List";
}

<h1 style="display:none">Empty Heading</h1>

<!--Page Header-->
<div class="header">
    <div class="header-content">
        <div class="page-title">
            <i class="icon-briefcase position-left"></i>Create Project
        </div>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "Dashboard")"></a></li>
            <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
            <li class="active">Create Project</li>
        </ul>
    </div>
</div>
