
@{
    ViewBag.Title = "TaskChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header">
    <div class="header-content">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <select data-placeholder="Select a State..." class="select">

                        <optgroup label="Mountain Time Zone">
                            <option value="AZ">Arizona</option>
                            <option value="CO">Colorado</option>
                            <option value="ID">Idaho</option>
                            <option value="WY">Wyoming</option>
                        </optgroup>
                        <optgroup label="Central Time Zone">
                            <option value="AL">Alabama</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                        </optgroup>
                        <optgroup label="Eastern Time Zone">
                            <option value="CT">Connecticut</option>
                            <option value="FL">Florida</option>
                            <option value="MA">Massachusetts</option>
                            <option value="WV">West Virginia</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon bg-primary"><i class="icon-calendar"></i></span>
                        <input class="form-control datepicker-here" type="text" data-language="en" placeholder="dd/mm/yyyy">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-warning"><b><i class="icon-search4"></i></b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-flat">
    <div class="panel-body">
        <div class="col-md-10 col-md-offset-1">
            <div id="frame" style="height: 65vh;">
                <div class="content" style="width: 100%;border:1px solid #eee;border-radius: 1%">
                    <div class="messages" style="min-height: calc(100% - 122px); max-height: calc(100% - 46px);">
                        <ul>
                            <li class="sent">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                            </li>
                            <li class="replies">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>When you're backed against the wall, break the god damn thing down.</p>
                            </li>
                            <li class="replies">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>Excuses don't win championships.</p>
                            </li>
                            <li class="sent">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>Oh yeah, did Michael Jordan tell you that?</p>
                            </li>
                            <li class="replies">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>No, I told him that.</p>
                            </li>
                            <li class="replies">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>What are your choices when someone puts a gun to your head?</p>
                            </li>
                            <li class="sent">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>What are you talking about? You do what they say or they shoot you.</p>
                            </li>
                            <li class="replies">
                                <img src="http://via.placeholder.com/50x50" alt="" />
                                <p>Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="message-input">
                        <div class="wrap">
                            <input type="text" placeholder="Write your message..." />
                            <button class="submit"><i class="icon-paperplane" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/lib/js/forms/datepicker.min.js"></script>
    <script src="~/Content/lib/js/forms/datepicker.en.js"></script>
}



